@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!--Emma Haynes IS 413 1-27-21-->
<body>
    <figure>
        <img src="~/img/IMG_2640.jpg" id="hawaii" />
        <figcaption>Hiking in Hawaii!</figcaption>
    </figure>
    <h3>What do I hope to get out of 413: </h3>
    <p>
        Mainly, I want to keep learning! I only have the coding experience that I have learned in the IS classes so
        I am always ready to absorb new information! I am excited to be working with a strongly typed language.
    </p>
    <h3>Top 3 jobs:</h3>
    <ol type="1">
        <li>Data Analyst</li>
        <li>Web Developer</li>
        <li>Business Management</li>
    </ol>

</body>
